.frame-box {
  padding-top: 100vh;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  & > div {
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    iframe {
      width: 100% !important;
      height: 100% !important;
    }
  }
}