.center-block{
  width: 385px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  @media (max-width: 992px) {
    position: relative;
    top: auto;
    transform: translate(-50%, 0);
  }
}

.company-logo{
  width: 60px;
  height: 60px;
  margin: auto;
  img{
    width: 100%;
    height: 100%;
  }
}
::ng-deep .custom{
  width: 100%;
}
::ng-deep .iti{
  width: 100%;
}

::ng-deep .wrapper{
  height: auto;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.recaptcha-container{
  position: absolute;
  right: 0;
  bottom: 0;
}

.button-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 2.0s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
.card-avatar{
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  margin-top: 12px;
  img{
    border: 1px solid gray;
    border-radius: 50%;
    cursor: pointer;
  }
}